<h1>Contact Us</h1>

<p>Have questions or need assistance? We're here to help!</p>

<h2>Get in Touch</h2>

<p>You can contact us using the information below or fill out the form.</p>

<ul>
  <li>**Email:** <a href="mailto:genshemanipaljaipur@gmail.com">genshemanipaljaipur@gmail.com</a></li>
</ul>

<h2>Send us a Message</h2>

<%# You'll need to add a form helper here to create the actual form %>
<%# Example using form_with: %>
<%# <%= form_with url: '/contact', method: :post do |form| %>
<%#   <div>
<%#     <%= form.label :name %>
<%#     <%= form.text_field :name %>
<%#   </div>
<%#   <div>
<%#     <%= form.label :email %>
<%#     <%= form.email_field :email %>
<%#   </div>
<%#   <div>
<%#     <%= form.label :message %>
<%#     <%= form.text_area :message %>
<%#   </div>
<%#   <div>
<%#     <%= form.submit "Send Message" %>
<%#   </div>
<%# end %>

<p>Please replace the placeholder contact information and uncomment/implement the form helper to create a functional contact form.</p> 