<h1>Blog Posts</h1>

<% if authenticated? && (Current.user.admin? || Current.user.editor?) %>
  <div class="actions">
    <%= link_to "New Blog Post", new_blog_path, class: "button" %>
  </div>
<% end %>

<div class="blog-posts">
  <% @blog_posts.each do |post| %>
    <article class="blog-post">
      <% if post.featured_image.attached? %>
        <div class="featured-image">
          <%= image_tag post.featured_image %>
        </div>
      <% end %>
      
      <div class="post-content">
        <h2><%= link_to post.title, blog_path(post) %></h2>
        
        <div class="post-meta">
          <span class="author">By <%= post.author.name %></span>
          <span class="date"><%= time_tag post.created_at, format: :long %></span>
        </div>
        
        <div class="excerpt">
          <%= truncate(strip_tags(post.content.to_plain_text), length: 200) %>
        </div>
        
        <%= link_to "Read more", blog_path(post), class: "read-more" %>
      </div>
    </article>
  <% end %>
</div>

<% if defined?(Kaminari) %>
  <div class="pagination">
    <%= paginate @blog_posts %>
  </div>
<% end %> 